include parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title #{ state && state.title ? (state.title + ' - ' + siteName) : siteName}
include parts/head2
#wrapper !{html||''}
include parts/footer-js
include parts/footer-end